
<div class="row" ng-repeat="result in results.hits.hits">
    <div class="col-sm-3 col-xs-6">
      <div class="thumbnail">        
       <img class="img-thumbnail" ng-src="http://www.healthierprices.co.uk/uploads/hpproduct_images/{{result._source.id}}_IMAGE2.jpg">
       <div class="caption">
        <h5>{{ result._source.name }}</h5>
        <p>{{ result._source.quantity }}</p>
        <p><a href="#/findStores/{{result._source.id}}" class="btn btn-primary" role="button">Stores</a> <a href="" class="btn btn-warning" role="button">Buy!</a></p>
       </div>
      </div>
	</div>
</div>

<!--                <uib-pagination num-pages="Math.floor(results.hits.total / 10 - 0.1) + 1" current-page="currentPage" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></uib-pagination>
            -->