
<div class="container">
	<!--search bar-->
	<div class="row top-buffer-2x">
	  <form name="sform" novalidate ng-submit="sform.search.$valid && doSearch()">
		<div class="input-group input-group-lg col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
			<input name="search"type="text" class="form-control" placeholder="Search" aria-describedby="search-addon" ng-model="query" required>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="doSearch()" ng-disabled="!query"><i class="fa fa-search-plus"></i></button>
			</span> 
		</div>
	  </form> 
	</div>
	<!-- result summary -->
	<div class="top-buffer-2x" ng-show="results.length">
		<h4><strong>{{totalItems}}</strong> products matching word '{{query}}'</h4>
	</div>
	<!-- search results -->
	<div class="row text-center sm-gutter">
		<div class="col-sm-3 col-xs-6" ng-repeat="result in results">
			<div class="thumbnail">        
				<img ng-src="http://www.healthierprices.co.uk/uploads/hpproduct_images/{{result._source.id}}_IMAGE2.jpg">
				<div class="caption">
					<h4>{{result._source.name}}</h4>
					<p>{{result._source.quantity}}</p>
					<p><a href="#/findStores/{{result._source.id}}" class="btn btn-primary btn-block" role="button"><i class="fa fa-search"></i>&nbsp;View Stores</a> 
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-show="results.length">
	 <uib-pagination items-per-page="itemsPerPage" class="pagination-sm pull-right"  
					 total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()"></uib-pagination>
</div>