
<div class="container content">
	<!--search bar-->
	<div class="row text-xs-center">
		<form name="sform" novalidate ng-submit="sform.search.$valid && newSearch()">
			<div class="input-group input-group-lg col-sm-offset-1 col-sm-10">
			  <input name="search" type="text" class="form-control" placeholder="Search" aria-describedby="search-addon" ng-model="search.query" required focus>
			  <span id="search-addon" class="input-group-btn">
				<button class="btn btn-primary" type="button" ng-click="newSearch()" ng-disabled="!search.query"><i class="fa fa-search"></i></button>
			  </span>  
			</div>
		</form> 
	</div>

	<div class="row m-t-1 m-l-0 m-r-0" ng-show="searchResult.data.length >= 0">
		<uib-tabset>
		<uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
			<div ng-if="$index == 0" class="container">
				<div class="row m-t-1">
					<p class="text-primary"  ng-show="searchResult.data.length"><i class="fa fa-thumbs-up"></i> There are <strong>{{pagination.totalItems}}</strong> products matching word '{{query}}'</p>
					<p class="text-danger"  ng-show="searchResult.data.length == 0"><i class="fa fa-exclamation-triangle"></i> Sorry <strong>{{pagination.totalItems}}</strong> products available for '{{search.query}}'</p>
				</div>			
				<div class="row m-b-2">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="result in searchResult.data">
					<div class="hp-card m-t-1">
						<div class="hp-card-header">
							<a href ng-click="openLightboxModal($index)">
								<img class="hp-card-img img-fluid center-block" ng-src="{{HP_CONSTANTS.IMGS_BASE_URL}}{{searchResult.images[$index]}}" err-src="http://placehold.it/250x250" width="90%" >
							</a>
						</div>
					  	<div class="hp-card-block">
					  		<p class="hp-card-title" uib-tooltip="{{result._source.name | uppercase}}">{{result._source.name | uppercase}}</p>
					  		<a class="card-subtitle text-muted" tabindex="0" popover-title="Description" uib-popover="{{result._source.descr}}" popover-trigger="focus">Additional Info</a>
					  		<div class="hp-card-text text-muted">
					  			From: <span class="text-primary"> {{result._source.price | currency:"£":2}}</span>
					  			&nbsp; (Save: {{result._source.rrp - result._source.price | currency:"£":2}})
					  		</div>
					  		<div class="hp-card-text">
					  			<uib-rating ng-model="rate" max="5" on-hover="hoveringOver($index, result._source.id, value)" on-leave="ratings[$index].overStar = null" aria-labelledby="default-rating"></uib-rating>
    							<span class="label" ng-class="{'label-warning': ratings[$index].percent<30, 'label-info': ratings[$index].percent>=30 && ratings[$index].percent<70, 'label-success': ratings[$index].percent>=70}" ng-show="ratings[$index].overStar && !isReadonly">{{ratings[$index].percent}}%</span>
    						</div>
					  	</div>	  	  	
						<div class="card-footer text-xs-center">
						   <a href ng-click="findStores(result._source.id)" class="btn btn-primary-outline btn-sm"><i class="fa fa-search"></i>&nbsp;View Stores</a>
						  
						</div>
					</div>
				</div>
				</div><!--row-->
				<div class="row text-xs-center" ng-show="searchResult.data.length">
					<uib-pagination items-per-page="pagination.itemsPerPage" class="pagination" template-url="js/vendor/templates/pagination.tpl"
										 total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="pagination.maxSize" ng-change="pageChanged()"></uib-pagination>
				</div>
			</div>
			<!--///Store Tab -->
			<div ng-if="$index == 1" class="container">
				<div class="row m-t-1">
					<p class="text-danger"  ng-show="storeResult.data.length == 0"><i class="fa fa-exclamation-triangle"></i> Sorry we can't find any pharmacies with this product. Try another time or contact us <a href="#/contact">here</a>. Thanks!</p>
				</div>
				<div class="row m-t-1">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="result in storeResult.data">
						<div class="hp-card m-t-1" ng-class="$index == 0 ? 'card-primary-outline' : 'card-secondary-outline'">
							<div class="card-header">
								<img class="hp-card-img-sm img-fluid center-block" ng-src="img/{{result.pharmacy.id}}.png" err-src="http://placehold.it/250x65" uib-tooltip="{{result.pharmacy.name}}">
  							</div>
					  		<!--img class="img-thumbnail img-fluid center-block" ng-src="{{result.img_lg}}" err-src="http://placehold.it/250x250" width="90%"-->
					  		<img class="hp-card-img img-fluid center-block" ng-src="{{HP_CONSTANTS.IMGS_BASE_URL}}{{result.prod_id}}_IMAGE2.jpg" err-src="http://placehold.it/250x250" width="90%" >
						  	<div class="hp-card-block">
						    	<p class="hp-card-title" uib-tooltip="{{result.name | uppercase}}">{{result.name | uppercase}}&nbsp;</p>
						  	</div>
						  	<ul class="list-group list-group-flush">
						    	<li class="hp-list-group-item">Price: {{result.price|currency:"£":2}} (Save: {{result.rrp - result.price|currency:"£":2}})</li>
						    	<li class="hp-list-group-item">Retail Price: {{result.rrp | currency:"£":2 }}</li>
						    	<li class="hp-list-group-item">Quantity: {{result.size }}</li>
						  	</ul>
						  	<div class="card-footer text-xs-center">
							    <a class="btn btn-primary-outline btn-sm" ng-href="{{result.ex_link}}" target="_blank" role="button">Go to Store&nbsp;<i class="fa fa-shopping-cart"></i></a>
						  	</div>
						</div>
					</div>
				</div>
			</div>

		</uib-tab>
		</uib-tabset>
	</div><!--row-->
</div><!-- container -->