
<div class="container">
	<!--search bar-->
	<div class="row text-xs-center">
		<form name="sform" novalidate ng-submit="sform.search.$valid && doSearch()">
			<div class="input-group input-group-lg col-sm-offset-1 col-sm-10">
			  <input name="search" type="text" class="form-control" placeholder="Search" aria-describedby="search-addon" ng-model="query" required focus>
			  <span id="search-addon" class="input-group-btn">
				<button class="btn btn-primary" type="button" ng-click="doSearch()" ng-disabled="!query"><i class="fa fa-search"></i></button>
			  </span>  
			</div>
		</form> 
	</div>
	<!-- result summary -->
	<div class="alert alert-info top-buffer-sm" role="alert" ng-show="results.length">
		<strong>{{totalItems}}</strong> products matching word '{{query}}'
	</div>
	<div class="alert alert-warning top-buffer-sm" role="alert" ng-show="results.length == 0">
		<strong>{{totalItems}}</strong> products matching word '{{query}}'
	</div>
</div>

<div class="container-fluid content-bg">
  <div class="container">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="result in results">
		<div class="card">
			<a href="" ng-click="openLightboxModal($index)">
				<img class="card-img img-fluid center-block" ng-src="{{HP_CONSTANTS.IMGS_BASE_URL}}{{images[$index]}}"  width="180">
			</a>
		  	<div class="card-block">
		  		<p class="card-title">{{result._source.name | uppercase}}</p>
		  		<p class="card-subtitle text-muted"><small>({{result._source.quantity | lowercase}})</small></p>
		  		<p class="card-text text-muted">From:<strong>{{result._source.price | currency:"£":2}}</strong></p>
		  	</div>	  	  	
			<div class="card-footer text-xs-center">
			   <a href="#/findStores/{{result._source.id}}" class="btn btn-primary-outline btn-sm"><i class="fa fa-search"></i>&nbsp;View Stores</a>
			</div>
		</div>
	</div>
  </div>
  <div class="row text-xs-center" ng-show="results.length">
	<uib-pagination items-per-page="itemsPerPage" class="pagination" template-url="js/vendor/pagination.tpl"
						 total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()"></uib-pagination>
  </div>
</div><!--container-fluid-->
