<div class="container content">
	<p class="text-danger m-l-1 m-t-1"  ng-show="results.length == 0"><i class="fa fa-exclamation-triangle"></i> Sorry we can't find any pharmacies with this product. Try another time or contact us <a href="#/contact">here</a>. Thanks!</p>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-repeat="result in results">
		<div ng-class="$index == 0 ? 'card card-primary-outline' : 'card card-warning-outline'">
		  <img class="card-img-top img-fluid center-block" ng-src="{{HP_CONSTANTS.IMGS_BASE_URL}}{{result.prod_id}}_IMAGE2.jpg" alt="{{result.name | uppercase}}" width="300">
		  <div class="card-block">
		    <p class="card-title">{{result.name | uppercase}}</p>
		    <p class="card-text text-muted">long description...</p>
		  </div>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">Quantity: {{result.size }}</li>
		    <li class="list-group-item">Retail Price: {{result.rrp | currency:"£":2 }}</li>
		    <li class="list-group-item">Price: {{result.price|currency:"£":2}} (Save: {{result.rrp - result.price|currency:"£":2}})</li>
		  </ul>
		  <div class="card-footer text-xs-center">
			  <div class="card-block">
			    <h5 class="card-title p-b-1">{{ result.pharma_id }}</h5>
			    <a ng-class="$index == 0 ? 'btn btn-primary-outline' : 'btn btn-warning-outline'" href="#/" role="button">Go to Store&nbsp;<i class="fa fa-shopping-cart"></i></a>
			  </div>
		  </div>
		</div>
	</div>
</div>