<div class="content">
	<div class="text-center">
		<div class="form-group">
			<form name="iform" novalidate ng-submit="iform.search.$valid && doSearch()">
				<input name="search" class="form-control" type="text" ng-model="query" placeholder="Search Healthy Products" required>
			</form>
		</div>	
		<div>
			<button class="btn btn-success" ng-click="doSearch()" ng-disabled="!query">
				<span class="glyphicon glyphicon-search"></span> Search
			</button>
			<button class="btn btn-warning" ng-click="doFuzzy()" ng-disabled="!query">
				<span class="glyphicon glyphicon-search"></span> Fuzzy&nbsp;
			</button>
		</div>
	</div>
	<div class="text-left">
		<div ng-show="results.length > 0">
			<table class="table table-striped">
			  <thead>
				<tr>
				  <th>Product Image</th>
				  <th>Product Name</th>
				  <th>Size</th>
				  <th>Find Stores</th>
				</tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="result in results">
				  <td class="thumb">
					<!--a href="" data-toggle="modal" data-target="#myModal"-->
					<img class="img-responsive" ng-src="http://www.healthierprices.co.uk/uploads/hpproduct_images/{{result._source.id}}_IMAGE2.jpg">
					<!--div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<img src="http://www.healthierprices.co.uk/uploads/hpproduct_images/{{result._source.id}}_IMAGE2.jpg" class="img-responsive center-block">
							</div>
						</div>
					  </div>
					</div-->
				  </td>
				  <td>{{ result._source.name }}</td>
				  <td>{{ result._source.quantity }}</td>
				  <td>
					<a href="#/{{result._source.id}}">
					<button class="btn btn-info">
						<span class="glyphicon glyphicon-search"></span> Find Stores
					</button>
					</a>
				  </td>
				  <!--td>{{ result._source.rrp | currency:"£":2 }}</td-->
				</tr>
			  </tbody>
			</table>
		</div>
		<div ng-show="results.length == 0">
			<p class="lead">No data found!</p>
		</div>
	</div>
</div>